/* 
    Document   : style
    Created on : Oct 10, 2013, 12:12:12 PM
    Author     : michael chekin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    width: 100%;
    background: #ffffff url(../../images/main_bg.jpg) center 0 no-repeat;

}

.wrapper {
    width: 807px;
    margin: 0 auto;
    /*background: purple;*/
}

header 
{
    position:relative;
    margin-top: 16px;
    /*background: black;*/
}

/* LOGO */

.logo {
    position: absolute;
    left: 0px;
    top: 0px; 
    /*background: red;*/
}

.logo img{
        width: 113;  
        height:123;
}

/* MAIN MENU */

.main_menu {
  float: left;
  margin: 60px 0 0 120px;
}
.main_menu li {
  display: inline-block;
  margin-right: 20px;
}
.main_menu a {
  color: #104b6c;
  font-size: 20px;
  text-decoration: none;
}
.main_menu a:hover {
  text-decoration: underline;
}

nav ul, nav ol, menu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

/* LOGIN */

.login {
  float: right;
  width: 210px;
  margin: 5px 0 10px;
}
.login .avatar, .login .options, .login .scores {
  float: left;
}
.login .avatar {
  margin: 0 5px 2px 0;
}
.login ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.login .options {
  margin-right: 10px;
}
.login .options li {
  line-height: 19px;
}
.login .options li a {
  color: #005281;
  font-size: 13px;
}
.login .scores {
  margin-top: 10px;
}
.login .scores li {
  float: left;
  margin-left: 5px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.login .scores li a span {
  display: inline-block;
  height: 26px;
  width: 22px;
  background-image: url(../../images/user_items.png);
}
.login .scores li span {
  display: block;
  line-height: 1;
}
.login .scores li:first-child {
  margin: 0;
}
.login .crystal {
  background-position: 0 0;
}
.login .star {
  background-position: -38px 0;
}
.login .badge {
  background-position: right 0;
}
.login .status {
  clear: both;
  margin: 4px 0 2px;
}

/* SEARCH FORM */
/*
.searchoform{
  float:none;
 
}  
.searchoform  input[type="submit"] {
  float: right;
  width: 22px;
  height: 20px;
  text-indent: -999px;
  overflow: hidden;
  border: none;
  background-color: none;
  background-color: transparent;
}

.searchoform input[type="text"] {
  float: left;
  width: 160px;
  height: 20px;
  margin: 0 0 0 5px;
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #7e7e7e;
}
*/

/* MAIN PIC */


.main_pic {
  margin-top: 10px;
}




