/* 
    Document   : styles
    Created on : Oct 28, 2013, 10:37:11 AM
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    width: 100%;
    background: #ffffff url(../../images/main_bg.jpg) center 0 no-repeat;
    background-size:1124px auto;
    /*background: color position size repeat origin clip attachment image;*/

}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    background: purple;
}

header 
{
    position:relative;
    /*margin-top: 20px;*/
    background: red;
}

/* LOGO */

.logo {
    /*position: absolute;*/
    float:left;
    margin: 10px 0px 0px 10px; 
    background: orange;
}

.logo img{
    height:80px;
    width:80px;
}

/* INLINE BLOCK */
.inline_block {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

/* INLINE BLOCK */
.inline_block_list li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
}

/* FLEX-BOX */
.flex-box {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }
 
 .flex-box li{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 165px;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }
/* CLEARFIX */

.clearfix {
  overflow: auto;
  zoom: 1;
}


/* MAIN MENU */

.main_menu {
  float: left;
  margin: 25px 0 0 10px; 
  background: yellow;
}
.main_menu li {      
    width: 120px;
    min-height: 50px;
    _height: 50px;
    margin: 0px 5px 0px 5px;
}

.main_menu a {
  text-decoration: none;
}
.main_menu a:hover {
  text-decoration: underline;
}

.main_menu img { 
    
    height:50px;
    width:120px;
    background: #E8E7F5;
}

/* LOGIN */

.login {
  float: right;
  width: 210px;
  margin: 5px 0 10px;
}
.login .avatar, .login .options, .login .scores {
  float: left;
}
/*
.login .avatar {
  margin: 0 5px 2px 0;
}
*/
.login ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login .status {
  clear: both;
  margin: 4px 0 2px;
}


/* FB LOGO */

.fb_logo {
    /*position: absolute;*/
    float:left;
    margin: 0px 0px 0px 0px; 
    background: orange;
}

.fb_logo img{
    height:50px;
    width:50px;
}

/* COVER */

.panel_down{
    width:100%;
    background: #E8E7F5 url(../../images/cover_down_frame.png) center 0 no-repeat;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

/* SECONDARY MENU */
.secondary_menu {
    /*width: 945px;*/
    white-space: nowrap;
    padding: 0px 0px 0px 0px;
    margin: 25px 25px 34px 25px;
    /*float: left;*/
    background: yellowgreen;
    overflow: hidden;
}

.secondary_menu li {
    
    width:135px;
    min-height: 120px;
    _height: 120px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*background: green;*/
    border:1px solid red;
}

.secondary_menu a {
    text-decoration: none;  
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*background:red; */
}

.secondary_menu img { 
    float:left;
    width:135px;
    min-height: 120px;
    _height: 120px;
    /*height:100%;*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: blue;
    /*border:1px solid blue;*/
}
.secondary_menu a:hover {
  text-decoration: underline;
}


/* FIRST_SECTION */

#first_section{  
    margin: 40px 0px 0px 0px;      
    background: blueviolet url(../../images/featured-tutorials-top.png) left top 0 no-repeat;
    height: 710px;
    
}

/* FEATURED_TUTORIALS */

#featured_tutorials
{    
    margin: 55px 0px 0px 0px; 
    float: left;
    width: 730px;
    height: 634px;
    background:#1c94c4;
}

#featured_tutorials_gallery
{  
    float: left;
    height: 634px;
    width: 670px;
    /*width: 650px;*/
    background:black;
    
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


/* SIDE PANEL */

#side_panel
{
    margin: 55px 0px 0px 730px; 
    height: 634px;  
    background: #FFCC33 url(../../images/side-line-bg.png) left top 0 no-repeat;
    
}

#create_button
{
    /*width: 237;*/
    height: 159px;   
    background: #FFCC00 url(../../images/create-button-bg.png) right top 0 no-repeat;
    /*border:1px solid red;*/
    margin: 0px 0px 0px 6px;   
}

#create_button img
{
    margin: 10px 0px 0px 145px;
}

#notifications
{
    /*width: 237;*/
    height: 450px;  
    background: #FFCCFF url(../../images/notifications-bg.png) left top 0 no-repeat;
    /*border:1px solid red;*/
    margin: 20px 0px 0px 6px;
    overflow: auto; 
}

#notification_list
{
    border:1px solid red;
    height: 390px;  
    /*width: 150px;*/
    margin: 40px 10px 10px 10px;
    /*padding: 50px 50px 50px 50px;*/
    overflow: auto;
    
}
/* ARROWS */

#arrow_left{
 float: left;
 /*width: 40px;*/
 margin: 290px 0px 0px 0px;
 background: blue;
 
}

#arrow_right{
    
 float: left;
 /*width: 40px;*/
 margin: 290px 0px 0px 0px;
 background: blue;
 
}

#arrow_left img{
 margin: 0px 0px 0px 0px;
 background: red;
 height: 50px;
 width: 30px;
}

#arrow_right img{ 
 margin: 0px 0px 0px 0px;
 background: red;
 height: 50px;
 width: 30px;
}



/* GALLERY */

.gallery{
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 20px 0px;
    background:#cd0a0a;
    width: 670px;
    height: 594px;
}

.gallery li {      
    width: 222px;
    min-height: 248px;
    _height: 248px;
    border:1px solid #ff0;
    margin: 10px 0px 10px 0px;
}



.gallery img.tutorial_title,
.gallery img.author_name{ 
    margin: 0px 0px 0px 0px;
    height:10px;
    width:30px;
    border:1px solid #FFCCFF;
    background:#ffffff;
}

.gallery div.tutorial_title {
    float: left;
    
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
    
    height:20px;
    width:212px;
    
    margin: 20px 5px 0px 5px;
    background:#ffff00;
}

.gallery div.author_name{ 
    float: left;
    
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
    
    margin: 5px 0px 0px 0px;
    
    height:20px;
    width:100px;
    
    border:1px solid #FFCCFF;
    background:#ffffff;
}

.gallery a {
    text-decoration: none;
}

.gallery img, 
.gallery div{
    float: left;
    /*
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    */
}

.gallery img.thumbnail{ 
    margin: 5px 5px 0px 5px;
    height:153px;
    width:212px;
    /*
    height:100px;
    width:200px;
    */
    /*border:1px solid #0f0;*/
    background:#ffffff;
}

.gallery img.likes,
.gallery img.views,
.gallery img.comments{ 
    margin: 0px 0px 0px 0px;
    height:10px;
    width:40px;
    border:1px solid #0ff;
    background:#ffffff;
}

.gallery div.likes,
.gallery div.views,
.gallery div.comments{ 
    
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
    
    margin: 0px 0px 0px 0px;
    height:20px;
    width:40px;
    border:1px solid #0ff;
    background:#ffffff;
}

.gallery img.likes_image,
.gallery img.views_image{ 
    margin: 0px 0px 0px 0px;
    height:25px;
    width:25px;
    border:1px solid #0ff;
    background:#ffffff;
}

.gallery img.comments_image{ 
    margin: 0px 0px 0px 0px;
    height:25px;
    width:30px;
    border:1px solid #0ff;
    background:#ffffff;
}

.gallery img.author_avatar{
    clear:left;
    margin: 0px 0px 0px 0px; 
    padding: 3px 3px 3px 3px;
    height:30px;
    width:30px;
    border:1px solid #0ff;
    background:#ffffff;
}

.gallery img.follow_button{ 
    margin: 0px 0px 0px 0px;
    height:30px;
    width:70px;
    border:1px solid #0ff;
    background:#ffffff;
    float: right;
}

.gallery .info_panel { 
    
    margin: 0px 5px 20px 5px;
    /*height:80px;*/
    width:212px;
    border:1px solid #0f0;
    background:black;
    
    white-space: nowrap;
    overflow:visible;
}
.gallery a:hover {
  text-decoration: underline;
}




/* SECOND_SECTION */

#second_section{  
    margin: 40px 0px 0px 0px;      
    background: #e78f08;
    height: 1000px;
    
}

/* VIEW MORE */
.view_more
{
    width:97;
    height:31;
}


/* LATEST COMPETITION */

#latest_competition
{
    float:left;
    margin: 0px 0px 0px 0px; 
    height: 558px;
    width:600px;
    background: #ECECEC;
    
}

#latest_competition img.header_img
{
    float:left;
    margin: 0px 0px 0px 100px;
    height:61px;
    width:467px;
    border:1px solid #0ff;
}

#latest_competition img.header_shadow
{
    float:left;
    margin: 0px 0px 0px 116px;
    height:31px;
    width:432px;
    border:1px solid #0ff;
}

.competition_thumbnail{  
    float:left;
    margin: 0px 0px 0px 116px;  
    height:260px;
    width:432px;
    border:1px solid #0ff;
}

.competition_thumbnail img{  
    float:left;
    margin: 10px 10px 10px 10px;  
    height:240px;
    width:412px;
    border:1px solid #0ff;
}

.competition .latest_submissions{  
    float:left;
    margin: 10px 10px 10px 10px;  
    height:600px;
    width:412px;
    border:1px solid #0ff;
}


/* SLANTED BORDER */

#slanted_border
{
    float:left;
    /*margin: 0px 0px 0px 650px; */
    height: 558px;
    width:111px;
    background: red url(../../images/slanted_border.png) left top 0 no-repeat;
    border:1px solid red;
    
}

/* TOP HEROES */

#top_heroes
{
    margin: 0px 0px 0px 711px; 
    height: 558px;    
    /*background: white;*/
    background: #D8D9D4;
    
}

#top_heroes img.header_img
{
    float:left;
    margin: 0px 0px 0px 5px;
    height:81px;
    width:185px;
}

#top_heroes .view_more
{
    float:right;
    margin: 0px 0px 0px 0px;
}

#period_panel
{
    float:left;
    background: red;
    border:1px solid black; 
    margin: 10px 0px 10px 15px;
}

#top_heroes #week
{
    
    margin: 0px 0px 0px 0x;
    height:45px;
    width:90px;
}

#top_heroes #month
{
    
    margin: 0px 0px 0px 0px;
    height:45px;
    width:90px;
}

#top_heroes #year
{
    
    margin: 0px 0px 0px 0px;
    height:45px;
    width:90px;
}

/* TOP USER LIST */

.users_list
{
    float:left;
    margin: 0px 0px 0px 0px; 
    height: 350px;
    width: 300px;
    background: white;
    list-style-type: none;
}

.users_list li{
    height: 70px;
    width: 300px;
    border:1px solid red;
}

.users_list .user_place{
    float: left;
    margin: 20px 0px 0px 0px; 
    height: 30px;
    width: 30px;
    border:1px solid red;
}

.users_list .user_name{
    float: left;
    margin: 20px 0px 0px 0px; 
    height: 30px;
    width: 190px;
    border:1px solid red;
}

.users_list img.follow_button{ 
    float: right;
    margin: 20px 0px 0px 0px;
    height:30px;
    width:70px;
    border:1px solid #0ff;
}
