/* 
    Document   : styles
    Created on : Oct 28, 2013, 10:37:11 AM
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    width: 100%;
    background: #ffffff url(../../images/main_bg.jpg) center 0 no-repeat;
    background-size:1124px auto;
    /*background: color position size repeat origin clip attachment image;*/

}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    background: purple;
}

header 
{
    position:relative;
    /*margin-top: 20px;*/
    background: red;
}

/* LOGO */

.logo {
    position: absolute;
    left: 10px;
    top: 10px; 
    background: orange;
}

.logo img{
    height:80px;
    width:80px;
}


/* MAIN MENU */

.main_menu {
  float: left;
  margin: 25px 0 0 100px; 
  background: yellow;
}
.main_menu li {      
    width: 130px;
    min-height: 70px;
    _height: 70px;
}

.main_menu a {
  text-decoration: none;
}
.main_menu a:hover {
  text-decoration: underline;
}

.main_menu img { 
    
    height:70px;
    width:130px;
}

/* SECONDARY MENU */
.secondary_menu {
  padding: 40px 0px 40px 0px;
  margin: 20px 20px 20px 20px; 
  float: left;
  background: yellowgreen;
}

.secondary_menu li {      
    width: 150px;
    min-height: 150px;
    _height: 150px;
}

.secondary_menu a {
    text-decoration: none;
}

.secondary_menu img { 
    
    height:130px;
    width:130px;
    padding:5px;
}
.secondary_menu a:hover {
  text-decoration: underline;
}

/* GALLERY */

.gallery{
  float: left;
  background:#1c94c4;
}

.gallery li {      
    width: 200px;
    min-height: 200px;
    _height: 250px;
}

.gallery a {
    text-decoration: none;
}

.gallery img { 
    
    height:200px;
    width:200px;
}
.gallery a:hover {
  text-decoration: underline;
}

/* FEATURED_TUTORIALS */

#featured_tutorials
{   
    width: 70%;
    background:#1c94c4;
}

/* ASIDE */

#messages
{
    margin-left: 70%;
    background:#1c94c4;
}

/* INLINE BLOCK */
.inline_block li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
}

.inline_block_extented li {    
        border: 1px solid #000;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        zoom: 1;
        *display: inline;
    }

/* CLEARFIX */

.clearfix {
  overflow: auto;
  zoom: 1;
}
